{% extends "base.html" %}

{% block "css_files" %}
{% if mobile %}
    <link rel="stylesheet" href="{{ STATIC_URL }}idea/css/idea_mobile.css">
        {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}idea/css/idea.css">
            {% endif %}
    {% if page.description %}
        <meta name="description" content="{{ page.description|striptags }}"> 
    {% endif %}

{% endblock %}

{% block "content" %}{% endblock %}

{% block "js_scripts" %}
        <script src="{{ STATIC_URL }}idea/js/functions.js"></script>
{% endblock %}
